@charset "UTF-8";
@font-face {
    font-family: 'Pinterest';
    src: url(assets/fontes/Noto-Sans-ExtraBold/NotoSans-Regular.ttf) format(truetype);
}

#logo {
    display: block;
    margin: 20px auto;
}

#botao1 {
    display: inline;
    margin: 10px 15px;
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 50px;
    font-size: 1.2em;
    text-align: center;
}

.botao2 {
    display: inline;
    color: black;
    margin: 10px auto;
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
}

#search {
    font-size: 1.2em;
    color: rgb(122, 122, 122);
    font-weight: lighter;
    display: inline-block;
    background: linear-gradient(to right, white, rgba(128, 128, 128, 0.301),rgba(0, 0, 0, 0.308));
    padding: 10px;
    border-radius: 50px;
    width: 1050px;
    text-indent: 5px;
    border: auto;
}

#search:hover {
    cursor: auto;
}

#logo, #botao1, .botao2:hover {
    cursor: pointer;
}

.imagem {
    border-radius: 10px;
    display: inline;
    margin: 10px;
    width: 20%;
    height: 20%;
}

.imagem:hover {
    opacity: 50%;
    cursor: pointer;
}

footer {
    background: linear-gradient(to right, white, rgb(197, 56, 56),rgb(116, 6, 6));
    padding: 2px;
    margin: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px 20px;
    display: block;
    outline: none;
}